  </main>
  <footer class="site-footer">
    <div class="container">Садовый инвентарь &copy; 2026</div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script>window.APP_ROLE = '<%= user ? user.role : "" %>';</script>
  <script src="/js/main.js"></script>
</body>
</html>
